@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: var(--font-poppins);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img{
  object-fit: cover;
}

.flex-center{
  @apply flex items-center
}

.flex-all-center{
  @apply flex items-center justify-center
}

.input-large{
  @apply text-[40px]
}

.input-medium{
  @apply text-[20px]
}

.input-small{
  @apply text-[16px]
}

input{
  @apply focus:outline-none focus:border-b focus:border-b-gray-400
}

.container{
  box-shadow: 0 5px 35px rgba(0,0,0,0.1);
  @apply p-10 rounded-lg
}

form input{
  @apply p-3 text-[16px]
}

.tab div{
  @apply cursor-pointer py-3 px-5 rounded-md
}

.auth input{
  @apply w-full
}